// FONT STACKS
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400italic,700,400,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800,400);
$font-stack-primary: 'Open Sans', sans-serif;
$font-stack-secondary: 'Gentium Book Basic', serif;

// COLORS
// gray-blue-purple
$color-primary: #31313b;
// gray
$color-secondary: #58585b;
// white?
$color-tertiary: #fff;
// green
$color-highlight: #99CA3D;