// FONT STACKS
$font-stack-primary: 'Roboto', sans-serif;
$font-stack-secondary: font-family: 'Roboto Condensed', sans-serif;
$font-stack-h: 'Roboto Slab', serif;

// COLORS
$color-primary: #99CA3D;
$color-secondary: #58585B;
$color-tertiary: #fff;