/* GLOBAL STYLES
-------------------------------------------------- */
body {
  color: #5a5a5a;
}

.parfait1,
.parfait2,
.parfait3,
.parfait4 {
  padding: 75px 0;
}

.parfait2,
.parfait4 {
  background: url('../img/paper_texture.png');
}



/*
 * Header
 */

 

