@import "_normalize";
@import "_foundation";
@import "_variables";


/* GLOBAL STYLES
-------------------------------------------------- */
body {
  color: $color-primary;
  font-family: $font-stack-secondary;
}

.parfait2,
.parfait3,
.parfait4 {
  padding: 75px 0;
}

.parfait1 {
	background: $color-primary;
	padding: 2% 5% 5%;
}

.parfait2 {
	background: $color-secondary;
}

.parfait3 {
	background: $color-tertiary;
}

.parfait4 {
  background: $color-primary;
  color: $color-tertiary;

  h1 {
  	color: $color-tertiary;
  }

  h4 {
  	color: $color-tertiary;
  }
}

.parfait5 {
  background: $color-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-stack-primary;
	font-weight: 800;
	color: $color-primary;
}

.small-centered {
	text-align: center;
}



/*
 * Nav
 */
.contain-to-grid,
.top-bar {
	background: $color-primary;
	padding: 10px 0;
	letter-spacing: 0.0625em;
}

.top-bar.expanded .title-area {
	background: $color-primary;
}

[data-magellan-expedition], [data-magellan-expedition-clone] {
	background: none;
	padding: 0;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background: $color-primary;
	border-bottom: 2px solid $color-primary;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.15rem;
	text-transform: uppercase;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
	background: $color-primary;
	border-bottom: 2px solid #99CA3D;

	&:hover {
		background: $color-primary;
	}
}

.top-bar-section ul li:hover:not(.has-form) > a {
	background-color: $color-secondary;
	background: $color-secondary;
}



/*
 * Header
 */


header {
	background-image: url('../img/spokane.jpg');
	background-position: 50% 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	padding-bottom: 20%;
}

header img {
	height: 80px;
	float: left;
	margin-top: 5%;
}



/*
 * Fees
 */
.pricing-table .title {
	background: $color-primary;
}




/*
 * Fees
 */
.parfait4 {
	h4 {
		border-bottom: 4px solid #fff;
		padding-bottom: 5px;
	}
}

.faq {
	div {
		margin-bottom: 20px;
	}
}












